/* font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif; */
/* background: #E5E5E5; */
*, 
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
 a{
  text-decoration: none;
 }
ul,
ol,
li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  font-size: inherit;
}
html, body {
  height: 100%;
  line-height: 1;
  font-size: 16px;
}
body {
  background-color: #1B1B1B;
  text-align: center;
}
h2 {
  font-size: 24px;
  letter-spacing: 10%;
  line-height: 28.13px;
}
h1 {
  font-size: 72px;
}
p {
  font-size: 18px;
  line-height: 30px;
}
.header1 {
  background-image: url(img/bg.png);
  color: #ffff;
}
