.aboutme-main {
    margin-top: 7.4%;
    margin-bottom: 3%;
    display: flex;
    align-content: stretch;
    flex-direction: row;
    gap: 3%;
}
.fluid-imag {
    width: 35.9%;
    height: 35.9%;
}
.about-content {
    display: flex;
    flex-flow: column;
    align-content: flex-start;
    gap: 4.2%;
}
.subtittle {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 131.25%;
    color: #F65282;
    letter-spacing: 0.1em;
}
.about-title {
    font-size: 52px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}
.about-paragraf {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 187.5%;
    margin: 0.5% 15% 0.5% 0%;
    margin-bottom: 1.2%;

}
.social-icons-about {
    display: flex;
    flex-direction: row;
    gap: 8%;
    margin-bottom: 1.4%;

}
.camera-info {
    display: flex;
    align-items: center;
    background-color: #202020;
    padding: 20px;
    margin-right: 50%;
    margin-bottom: 1.4%;

}
.about-mebtn {
    width: 200px;
    padding: 18px 30px;
    background: #FFFFFF;
    border-radius: 50px;
    text-align: center;
    margin-bottom: 25%;
}
.camera-text {
    margin: 3%;
}
.photos-about {
    display: flex;
    flex-direction: row;
    flex-wrap: initial;
    margin: 8% 2%;
}
.img-fluid {
    width: 33.2% !important;
}
@media (max-width: 992px) {
    .aboutme-main {
        padding-top: 3.5%;
    }
    ._item3 {
        order: 2 !important;
    }
    .camera-info {
        margin-right: 17%;
    }
    

}
@media (max-width: 767px) {
    .fluid-imag {
        display: none;
    }
    .about-title {
        font-size: 32px;
    }
    .about-content {
        position: relative;
        display: flex;
        margin: 5% 0% 0.3% 2%;
        gap: 25px;
    }
    .about-paragraf {
        font-size: 16px;
        margin: 0 auto;
    }
    
    .camera-info {
        margin-right: 2% !important;
    }
}
@media (max-width: 479px) {
    .camera-info {
        margin-right: 2% !important;
    }
}