/* .............HEADER................... */
.header {
    background: #282323;
    position: absolute;
    height: 118px;
    left: -73px;
    top: -73px;
}
/* ........MAIN.......................... */
.page_container {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    

}
._last {
    display: flex;
    flex-flow: column;
    align-items: center;
}
.title-contactpage {
    position: relative;
    height: 25%;
    text-transform: uppercase;
    font-size: 72px;
    line-height: 84px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 10%;

}
.subtittle {
    color: #F65282;
    font-weight: 700;
    font-size: 14px;
    line-height: 102.5%;
    text-transform: uppercase;
}
.info {
    font-weight: 400;
    font-size: 18px;
    line-height: 187.5%;
}
@media (max-width: 992px) {
    .title-contactpage {
        font-size: 48px;
    }
    
  }
  @media (max-width: 767px) {
    .span-rights {
        display: none;
    }
  .title-contactpage {
    font-size: 32px;
  }
  ._last {
    gap: 30%;
  }
  }
  @media (max-width: 479px) {
    .span-rights {
        display: none;
    }
    ._last {
        gap: 20%;
    }
    .title-contactpage {
        font-size: 28px;
    }
  }

/* ........FOOTER....................... */
._footercontact {
    height: 20%;
    margin: 0% 5.3% 3.5% 0%;

    }
    a {
        color: white;
    }
    a:hover {
        color: #F65282;
    }
    